{{ form }}
{{ attach_library('bootstrap_ahml/catalog-search') }}
{% if search_title %}
  <h3>{{ search_title }}</h3>
{% endif %}

{% if no_of_results %}
  <p class="number_of_results">{{ no_of_results }}</p>
{% endif %}

{{ no_results_found }}

{{ search_help }}

{{ results }}

{{ pager }}
