{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.sticky_facet_bar: Bar above content that "sitckies" to the top on scroll.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.sidebar_slidingmenu: Items for the slideout menu
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup templates
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{# Navbar #}
{% if page.navigation %}
  {% block navbar %}
    {%
      set navbar_classes = [
        'navbar',
        theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
        theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
      ]
    %}
    <div id="subheader">
      <div id="subheader-inner">
        <ul class="menu">
          <li class="leaf leaf_hours"><a class="white-text" href="/visit/location" title="">HOURS / LOCATION</a></li>
          <li class="leaf leaf_about"><a class="white-text" href="/about" title="About">ABOUT</a></li>
          <li class="leaf leaf_contact"><a class="white-text" href="/node/add/contact-us" title="">CONTACT</a></li>
          <li class="leaf leaf_login">
            {% if user.getUserName() == "" %}
              <a class="white-text">LOG IN</a>
            {% else %}
              <p>Logged in as: {{ user.getUserName() }}</p>
            {% endif %}
          </li>
        </ul>
      </div>
      <div id="login-inner">
            {% if user.getUserName() == "" %}
              <div class="col-sm-10">
                <form class="user-login-form" data-drupal-selector="user-login-form" action="/user/login" method="post" id="user-login-form" accept-charset="UTF-8">
                  <div class="form-item js-form-item form-type-textfield js-form-type-textfield form-item-name js-form-item-name form-group">
                    <label for="edit-name" class="control-label black-text js-form-required form-required">Username</label>
                    <input autocorrect="none" autocapitalize="none" spellcheck="false" autofocus="autofocus" data-drupal-selector="edit-name" class="form-text required form-control" type="text" id="edit-name" name="name" value="" size="60" maxlength="60" required="required" aria-required="true" title="" data-toggle="tooltip" data-original-title="Enter your AHML D8 DEV username.">
                  </div>
                  <div class="form-item js-form-item form-type-password js-form-type-password form-item-pass js-form-item-pass form-group">
                    <label for="edit-pass" class="control-label black-text js-form-required form-required">Password</label>
                    <input data-drupal-selector="edit-pass" aria-describedby="edit-pass--description" class="form-text required form-control" type="password" id="edit-pass" name="pass" size="60" maxlength="128" required="required" aria-required="true" title="" data-toggle="tooltip" value="" data-original-title="Enter the password that accompanies your username.">
                  </div>
                  <input data-drupal-selector="form-kifl2mx-gjqbutkcfubb37uj-m0sb-2u-xm4mspiega" type="hidden" name="form_build_id" value="form-kIFL2MX-gjqbUTkcfUbB37uJ_M0sB-2U_xM4mSPiEgA" id="form-kIFL2MX-gjqbUTkcfUbB37uJ_M0sB-2U_xM4mSPiEgA">
                  <input data-drupal-selector="edit-user-login-form" type="hidden" name="form_id" value="user_login_form" id="edit-user-login-form">
                  <div data-drupal-selector="edit-actions" class="form-actions form-group js-form-wrapper form-wrapper" id="edit-actions">
                    <button data-drupal-selector="edit-submit" class="button js-form-submit form-submit btn-primary btn icon-before" type="submit" id="edit-submit" name="op" value="Log in"><span class="icon glyphicon glyphicon-log-in" aria-hidden="true"></span>
                    Log in</button>
                  </div>
                </form>
              </div>
            {% else %}
              <div class="col-sm-12">
                <div class="col-sm-4">
                  <h2 class="acct_details">Account Details</h2>
                  <table>
                    <tr>
                      <td style="width:130px">Username:</td>
                      <td style="width:150px">{{ user.getUserName() }}</td>
                      <td><img src="http://www.iconarchive.com/download/i80229/custom-icon-design/flatastic-1/edit.ico" style="height:15px"></td>
                    </tr>
                    <tr>
                      <td>Email Address:</td>
                      <td>{{ user.getEmail() }}</td>
                      <td><img src="http://www.iconarchive.com/download/i80229/custom-icon-design/flatastic-1/edit.ico" style="height:15px"></td>
                    </tr>
                    <tr>
                      <td>Last Access</td>
                      <td>{{ user.getLastAccessedTime()|date("m/d/Y H:i") }}</td>
                      <td><img src="http://www.iconarchive.com/download/i80229/custom-icon-design/flatastic-1/edit.ico" style="height:15px"></td>
                    </tr>
                  </table>
                </div>
                <div class="col-sm-4">
                  <h2 class="acct_details">Upcoming Due Dates</h2>
                </div>
                <div class="col-sm-4">
                  <h2 class="acct_details">Your Upcoming Programs</h2>
                </div>
                <div class="col-sm-12" style="text-align:right">
                  <a class="slider_logoutButton" href="/user/logout">LOG OUT ></a><br/>
                </div>
              </div>
            {% endif %}
      </div>
    </div>
    <header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
      <div class="col-sm-3">
        <div id="logo" class="col-sm-2 nav-full-mod"><a href="/"><img src="/sites/default/files/logo.png"></a></div>
        <div class="navbar-search col-sm-10 nav-full-mod">
          {{ page.search_bar }}
        </div>
      </div>
      <div class="col-sm-9">
        <div class="navbar-header col-sm-12 nav-full-mod">
          {{ page.navigation }}
        </div>
      </div>
    </header>
    <!--
    <div class="color-container" >
      <div class="col-sm-12 container-fluid grad-blue" role="contentinfo" style=""></div>
      <div class="col-sm-12 container-fluid grad-green" role="contentinfo" style=""></div>
      <div class="col-sm-12 container-fluid grad-orange" role="contentinfo" style=""></div>
      <div class="col-sm-12 container-fluid grad-teal" role="contentinfo"></div>
      <div class="col-sm-12 container-fluid grad-last" role="contentinfo" style="height:10px;margin-top:2px;"></div>
    </div>
  -->
  {% endblock %}
{% endif %}

{# Main #}
{% block main %}
  <div role="main" class="main-container {{ container }} js-quickedit-main-content">
    <div class="row">

      {# Header #}
      {% if page.header %}
        {% block header %}
          <div class="col-sm-12" role="heading">
            {{ page.header }}
          </div>
        {% endblock %}
      {% endif %}
      {# Sidebar First #}
      {% if page.sidebar_first %}
        {% block sidebar_first %}
          <aside class="col-sm-2 hide_over" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endblock %}
      {% endif %}



      {# Content #}
      {%
        set content_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-sm-6',
          page.sidebar_first or page.sidebar_second ? 'col-sm-10 slide_over a-z' ,
          page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12 no_sidebar'
        ]
      %}
      <section{{ content_attributes.addClass(content_classes) }}>
        {# Sticky Facet Bar #}
        {% if page.sticky_facet_bar %}
          {% block sticky_facet_bar %}
            {{ page.sticky_facet_bar }}
          {% endblock %}
        {% endif %}

        {# Highlighted #}
        {% if page.highlighted %}
          {% block highlighted %}
            <div class="highlighted">{{ page.highlighted }}</div>
          {% endblock %}
        {% endif %}

        {# Breadcrumbs #}
        {% if breadcrumb %}
          {% block breadcrumb %}
            {{ breadcrumb }}
          {% endblock %}
        {% endif %}



        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

        {# Help #}
        {% if page.help %}
          {% block help %}
            {{ page.help }}
          {% endblock %}
        {% endif %}




        {# Below Header #}
        {% if page.below_header %}
          {% block below_header %}
            <div class="col-sm-12 {{ container }}" role="contentinfo">
              {{ page.below_header }}
            </div>
          {% endblock %}
        {% endif %}

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}
      </section>

      {# Sidebar Second #}
      {% if page.sidebar_second %}
        {% block sidebar_second %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endblock %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% if page.above_footer %}
  {% block above_footer %}
    <footer class="col-sm-12 center-text {{ container }}" role="contentinfo">
      {{ page.above_footer }}
    </footer>
  {% endblock %}
{% endif %}
{% if page.footer %}
  {% block footer %}
    <footer class="footer {{ container }}" role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endblock %}
{% endif %}
